#banner {
    background-color: #0060ff;
    margin-top: 50px;
}

#partner,
#designed_dev,
#rockerbox  {
    background-color: #f3f5f9;
}

#deploy {
    background-color: white;
}

#countries,
#get_started {
 background-color: #00239e;
 color: white;
}

footer {
    background-color: #031c4e;
}

/* inizio nav */
.boo_navbar {
    max-height:50px;
}

.navbar-brand img {
    height: 100%;
}

.navbar-right button {
    margin-top: 11.8px;
}

/* fine navbar */
/* inizio banner */



.boo_rockerbox {
    background-color: white;
}

.boo_rockerbox img {
    display: inline-block;
}
